<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}"/>
<link rel="shortcut icon" type="image/png" href="{% static 'metrics/favicon.ico' %}"/>
<!--link rel="apple-touch-icon" sizes="144x144" href="{% static 'metrics/rh144x144.png' %}"/>
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'metrics/rh72x72.png' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'-->
<html lang="en">
  <head>
    <title>IT Finance Agile Metrics - {% block pagetitle %}{% endblock %}</title>
  {% block js %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <img src="{% static 'metrics/Logo_RH_RGB_Default.png' %}" class="left"/>
      <h1>IT Finance</h1>
    </div>
    <div id="container">
      <div id="nav">
        <h2>Quick Links</h2>
        <ul style="list-style: none;">
          <li><a href="/metrics/success/">Enhancement Metrics</a></li>
          <li><a href="/metrics/release/">Enhancement Releases</a></li>
          <li><a href="/metrics/sprint/">Planned Sprints</a></li>
          <li><a href="/metrics/latestory/">Delayed Enhancements</a></li>
          <li><a href="/metrics/velocity/">Team Velocity</a></li>
          <li><a href="/metrics/backlog/">Backlog</a></li>
          <ul style="list-style: none;">
            <li><a href="/metrics/backlog/charts/">Charts</a></li>
          </ul>
          <li><a href="/metrics/projects/">Project Grooming</a></li>
          <li><a href="/metrics/syncstory/">Refresh Story</a></li>
        </ul>
        {% block sidebar %}{% endblock %}
      </div>
      <div id="wrap">
       {% block picker %}{% endblock %}
       <h2>{% block title %}{% endblock %}</h2>
           
       {% block primary %}{% endblock %}
       {% block secondary %}{% endblock %}
      </div>
    </div>
  </body>
</html>
