<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}"/>
<link rel="shortcut icon" type="image/png" href="{% static 'metrics/favicon.ico' %}"/>
<style>
img.scale {
    height: 15%;
    width: 15%;
}
</style>
<!--link rel="apple-touch-icon" sizes="144x144" href="{% static 'metrics/rh144x144.png' %}"/>
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'metrics/rh72x72.png' %}"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'-->
<html lang="en">
  <head>
    <title>IT Finance Agile Metrics - {% block pagetitle %}{% endblock %}</title>
  {% block js %}{% endblock %}
  </head>
  <body>
    <div>
      <img class="scale" src="{% static 'metrics/Logo_RH_RGB_Default.png' %}"/>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IT Finance Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/metrics/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metrics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- Removed July 7 2016, not a great agile metric -->
                <!--<li><a href="/metrics/success/">Success Rates</a></li>-->
                <li><a href="/metrics/velocity/old/">Team Velocity (Monthly)</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Active <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/metrics/projects/active/">Project Status</a></li>
                <li><a href="/metrics/sprint/">Planned Sprints</a></li>
                <li><a href="/metrics/release/">Enhancement Releases</a></li>
                <li><a href="/metrics/latestory/">Delayed Enhancements</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Backlog <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/metrics/projects/grooming/">Project Grooming</a></li>
                <li><a href="/metrics/backlog/">Enhancement Backlog</a></li>
                <li><a href="/metrics/backlog/module/">... by Module</a></li>
                <li><a href="/metrics/backlog/track/">... by Track</a></li>
                <li><a href="/metrics/backlog/size/">... by Estimated Size</a></li>
              </ul>
            </li>
            <li><a href="/metrics/syncstory/">Refresh Story</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-1">
          {% block picker %}{% endblock %}
        </div>
        <div class="col-xs-10"></div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h2>{% block title %}{% endblock %}</h2>
          {% block primary %}{% endblock %}
          {% block secondary %}{% endblock %}
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </body>
</html>
