<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'metrics/favicon.ico' %}"/>
    <style>
        .affix {
            top: 0;
            width: 100%;
        }
        .affix + .container-fluid {
            padding-top: 80px;
        }
    </style>
<!--link rel="apple-touch-icon" sizes="144x144" href="{% static 'metrics/rh144x144.png' %}"/>
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'metrics/rh72x72.png' %}"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'-->
    <title>RADABO (RAlly DAshBOard) - {% block pagetitle %}{% endblock %}</title>
  {% block js %}{% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="containter-fluid" style="padding-left:30px; height:80px;">
        <img src="{% static 'metrics/Logo_RH_RGB_Default.png' %}"/>
      </div>
    </div>
    <nav class="navbar navbar-inverse navbar-static-top" data-spy="affix" data-offset-top="77">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#"><span title="RAlly DAshBOard">RADABO</span></a></li>
        <li><a href="/metrics/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metrics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- Removed July 7 2016, not a great agile metric -->
            <!--<li><a href="/metrics/success/">Success Rates</a></li>-->
            <li><a href="/metrics/velocity/old/">Team Velocity (Monthly)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Active <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/metrics/projects/active/">Project Status</a></li>
            <li><a href="/metrics/sprint/">Planned Sprints</a></li>
            <li><a href="/metrics/release/">Enhancement Releases</a></li>
            <li><a href="/metrics/pending/">Enhancements Pending UAT</a></li>
            <!--
            <li><a href="/metrics/latestory/">Delayed Enhancements</a></li>
            -->
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Backlog <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/metrics/projects/grooming/">Project Grooming</a></li>
            <li><a href="/metrics/backlog/">Enhancement Backlog</a></li>
            <li><a href="/metrics/backlog/module/">... by Module</a></li>
            <li><a href="/metrics/backlog/track/">... by Track</a></li>
            <li><a href="/metrics/backlog/size/">... by Estimated Size</a></li>
            <li><a href="/metrics/backlog/theme/">... by Investment Theme</a></li>
            <li><a href="/metrics/backlog/all/">... All Charts</a></li>
          </ul>
        </li>
        <li><a href="/metrics/syncstory/">Refresh Story</a></li>
      </ul>
    </nav>
    {% block picker %}{% endblock %}
    {% block title %}{% endblock %}
    {% block primary %}{% endblock %}
  </body>
</html>
