{% extends 'metrics/base.html' %}
{% block pagetitle %}Backlog Metrics{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var djangoData = JSON.parse('{{ data|safe }}');
          var data = new google.visualization.DataTable();
          var total = 0;
          total += {{ nullcount }};
          data.addColumn('string','Metric');
          data.addColumn('number','Story Count');
          var chartTitle = "{{ title }}";

          if (djangoData.length == 0) {
              document.getElementById('piechart').innerHTML = "Something went wrong, no data passed in.";
          } else {
              for (var i=0;i<djangoData.length;i++) {
                 data.addRows([[djangoData[i].metric,djangoData[i].scount]]);
                 total += djangoData[i].scount;
              } 
          }
          chartTitle = chartTitle + " - "+total+" total stories";
          var options = {
             width: 800, 
             height: 600, 
          };

          document.getElementById('foot').innerHTML = chartTitle;
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
          google.visualization.events.addListener(chart, 'select', function () {selectHandler(chart,data,'{{ chartType }}')});
      }
      function selectHandler(metaChart,metaData,option) {
          var selection = metaChart.getSelection();
             if (selection.length) {
                 var pieSliceLabel = metaData.getValue(selection[0].row,0);
                 post(option, pieSliceLabel)
          }
      }
      function post(tag, value) {
             var form = document.createElement("form");
             form.setAttribute("method", "post");
             form.setAttribute("action", "/metrics/backlog/");
             var hiddenField = document.createElement("input");
             var hiddenField2 = document.createElement("input");
             hiddenField.setAttribute("type", "hidden");
             hiddenField.setAttribute("name", tag);
             hiddenField.setAttribute("value", value);
             form.appendChild(hiddenField);
             hiddenField2.setAttribute("type", "hidden");
             hiddenField2.setAttribute("name", "csrfmiddlewaretoken");
             hiddenField2.setAttribute("value", "{{csrf_token}}");
             form.appendChild(hiddenField2);
             document.body.appendChild(form);
             form.submit();
         }
    </script>
{% endblock %}
{% block primary %}
  <div id="foot" class="cfoot"></div>
  <div id="piechart"></div>
{% endblock %}
