{% extends 'metrics/base.html' %}
{% block pagetitle %}Projects{% endblock %}
{% block title %}
<div class="row">
  <div class="col-sm-1 col-xs-2"></div>
  <div class="col-sm-9 col-xs-8">
    <h2>{{header}}</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
    {% regroup story by track as sorted_story %}
    {% if story %}
      <table class="table table-hover" style="font-size: 16px">
        <tr>
          <th >Track</th>
          <th>Business Area</th>
          <th>Name</th>
          <th>Process Lead</th>
          <th>User Story</th>
          <th>Status</th>
        </tr>
        {% for x in story %}
          {% if x.blocked == "Y" %}
          <tr class="alert-danger">
          {% elif x.get_status_display == "Accepted" %}
          <tr class="alert-success">
          {% else %}
          <tr>
          {% endif %}
          <td>{{ x.track|default_if_none:"Unknown" }}</td>
          <td>{{ x.module|default_if_none:"All" }} </td>
          <td>
            {% if x.blocked == "Y" %}
              <span title="{{ x.blockedReason }}">
            {% endif %}
            {{ x.description }}{% if x.blocked == "Y" %}&nbsp;</span><span class="glyphicon glyphicon-ban-circle"></span>{% endif %}</td>
          <td>{{ x.globalLead|default_if_none:"" }}</td>
          <td><a href="{{ x.storyURL }}" target="_blank">{{ x.rallyNumber }}</a></td>
          <td>{{ x.get_status_display }}</td>
          </tr>
        {% endfor %}
        </tr></table>
      {% else %}
        <p>{{ exception }}
      {% endif %}
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
