{% extends 'metrics/base.html' %}
{% block pagetitle %}Projects{% endblock %}
{% block title %}{{ header }}{% endblock %}
{% block js %}{% endblock %}
{% block picker %}{% endblock %}
{% block primary %}
  {% regroup story by track as sorted_story %}
  <div style="float: left">
  {% if story %}
      <table cellpadding="5">
        <tr>
          <th>Track</th>
          <th>Business Area</th>
          <th class="left">Name</th>
          <th class="left">Process Lead</th>
          <th class="left">User Story</th>
          <th class="left">Status</th>
        </tr>
        {% for x in sorted_story %}
            {% for y in x.list %} 
              <tr>
              {% if forloop.first %}
                 <td class="first" rowspan="{{ forloop.revcounter }}">{{ x.grouper|default_if_none:"Unknown" }}</td>
              {% endif %}
              <td class="center" style="width: 8%">{{ y.module|default_if_none:"All" }} </td>
              <td style="width: 25%">{{ y.description }}</td>
              <td style="width: 10%">{{ y.globalLead|default_if_none:"" }}</td>
              <td style="width: 8%"><a href="{{ y.storyURL }}" target="_blank">{{ y.rallyNumber }}</a></td>
              <td style="width: 10%">{{ y.get_status_display }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tr></table>
    {% else %}
      <p>{{ exception }}
    {% endif %}
    </div>
{% endblock %}
