{% extends 'metrics/base.html' %}
{% block pagetitle %}Team Velocity{% endblock %}
{% block title %}IT Finance Sprint Velocity{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var djangoData = JSON.parse('{{ velocity|safe }}');
          var data = new google.visualization.DataTable();
          data.addColumn('string','Sprint');
          data.addColumn('number','Sprint Velocity');
          data.addColumn('number','Average Velocity');
          //var avg = {{ avg }}

          for (var i=0;i<djangoData.length;i++) {
             data.addRows([[djangoData[i].name,djangoData[i].velocity, {{ avg }}]]);
          }
          var options = {
              width: 700, 
              height: 480, 
              title: "Team Velocity",
              titleFontSize: 24,
              hAxis: {title: "Sprint", slantedText: true, titleFontSize: 20},
              vAxis: {title: "Story Points", baseline: 50, titleFontSize: 20},
              series: {
                 0: {pointSize: 4}
                 }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block primary %}
<!-- Let's try to close the open row from base and create a new one here -->
      </div> <!-- Close second column -->
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5" id="chart_div" style="float:left"></div>
      <div class="col-xs-5" id="details" style="padding: 30px;float: left;font-family: Arial">
        <h2>Test Cycle Impacts</h2>
        <p>The decline in velocity during March and April represents a large
number of projects that were in UAT or extended integration testing.  IT-Finance associates were heavily involved supporting testing for the following projects.
        <P><b>User Acceptance Testing</b>
        <ul>
          <li>India Project Accounting</li>
          <li>Chile EBS Implementation</li>
          <li>Royalty Reporting Repository</li>
        </ul>
        <p><b>Integration Testing</b>
        <ul>
          <li>Bank of Ireland Mastercard conversion</li>
          <li>North American Credit Card conversion</li>
          <li>EMEA VAT</li>
        </ul>
        <p>These are critical activities for IT-Finance to support, but are not allocated a large number of story points.  This is an issue that should be addressed in the future.  This will be a key challenge to address as part of the teams' larger initiative to be more Agile.
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-10"></div>
      <!-- This should dovetail into the col-xs-2 from base.html to finish the row --> 
{% endblock %}
