{% extends 'metrics/base.html' %}
{% block pagetitle %}User Stories{% endblock %}
{% block title %}
  <div class="row">
    <div class="col-sm-1 col-xs-2"></div>
    <div class="col-sm-9 col-xs-8">
      <h2>{{ header }}</h2>
        {% if startDate %}
          <h3>{{startDate|date:"d-M-Y"}} - {{endDate|date:"d-M-Y"}}</h3>
        {% endif %}
    </h2>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
{% block js %}{% endblock %}
{% block picker %}
  <div class="row">
    <div class="col-sm-1 col-xs-2"></div>
    <div class="col-sm-1 col-xs-2">
      {% if list %}
        <form name="relForm" id="relForm" action="" method=POST>
          {% csrf_token %}
          <div class="dropdown dropdown-submit-input">
            <input class="span2" id="choice" name="choice" type="hidden">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Select Timebox<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for name in list %}
              <li><button class="form-control btn btn-link" style="width:auto;" type="submit" name="choice" value="{{name}}">{{name}}</button></li>
            {% endfor %}
            </ul>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col-sm-10 col-xs-8"></div>
  </div>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-1 col-xs-2"></div>
    <div class="col-sm-9 col-xs-8" style="float: left">
      {% if story %}
        {% if list %}
          <table class="table table-striped table-hover" style="font-size: 16px">
       {% else %}
          <table class="table table-hover" style="font-size: 16px">
       {% endif %}
          <thead>
            <tr>
              <th>Name</th>
              <th>Business Value</th>
              {% if showSprint == "Y" %}
              <th>Sprint End Date</th>
              {% endif %}
              <th>Business Area</th>
              <th>Solution Size</th>
              <th>Track</th>
              <th>Stakeholders</th>
              {% if gpo == "Y" %}
              <th>Process Lead</th>
              {% endif %}
              <th>Investment Theme</th>
              <th>User Story</th>
            </tr>
          </thead>
          {% for x in story %}
            {% if x.blocked == "Y" %}
            <tr class="alert-danger">
            {% elif x.color == "R" %}
            <tr class="alert-danger">
            {% elif x.color == "Y" %}
            <tr class="alert-warning">
            {% else %}
            <tr>
            {% endif %}
            <td>
              {% if x.blocked == "Y" %}
                <span title="{{ x.blockedReason }}">
              {% endif %}
              {{ x.description }}{% if x.blocked == "Y" %}&nbsp;</span><span class="glyphicon glyphicon-ban-circle"></span>{% endif%}
            </td>
            <td>{{ x.businessValue|default_if_none:"" }}</td>
            {% if showSprint == "Y" %}
            <td>{{ x.sprintEnd|date:"d-M-Y" }}</td>
            {% endif %}
            <td>{{ x.module }} </td>
            <td>{{ x.solutionSize }}</td>
            <td>{{ x.track }}</td>
            <td>{{ x.stakeholders|default_if_none:"" }}</td>
            {% if gpo == "Y" %}
            <td>{{ x.globalLead|default_if_none:"" }}</td>
            {% endif %}
            <td>{{ x.theme }}</td>
            <td><a href="{{ x.storyURL }}" target="_blank">{{ x.rallyNumber }}</a></td>
          </tr>
          {% endfor %}
          </table>
      {% else %}
        <p>{{ exception }}
      {% endif %}
    </div>
    <div class="col-sm-2 col-xs-2">
    {% if showSprint == "Y" %}
      <h4>Legend</h4>
      <span>Pending UAT 0-14 days</span><br>
      <span class="alert-warning">Pending UAT for 15-28 days</span><br>
      <span class="alert-danger">Pending UAT for 29+ days</span>
    {% endif %}
    </div>
  </div>
{% endblock %}
