{% extends 'metrics/base.html' %}
{% block pagetitle %}User Stories{% endblock %}
{% block title %}{{ header }}{% endblock %}
{% block js %}{% endblock %}
{% block picker %}
  {% if list %}
    <form name=relForm action="" method=POST>
    {% csrf_token %}
      <p>
        <select name=choice onchange="relForm.submit();">
          {% for name in list %}
            <option value="{{ name }}" {% if name == current %}selected{% endif %}>{{name}}</value>
          {% endfor %}
        </select>
      </p>
    </form>
  {% endif %}
{% endblock %}
{% block primary %}
  {% regroup story by get_businessValue_display as sorted_story %}
  <div style="float: left">
  {% if story %}
      <table cellpadding="5">
        <tr>
          <th class="left">Business Value</th>
          <th class="left">Name</th>
          <th>Business Area</th>
          <th>Solution Size</th>
          <th>Track</th>
          <th class="left">Stakeholders</th>
          <th class="left">User Story</th>
        </tr>
        {% for x in sorted_story %}
            {% for y in x.list %} 
              <tr>
              {% if forloop.first %}
                 <td class="first" rowspan="{{ forloop.revcounter }}">{{ x.grouper }}</td>
              {% endif %}
              <td style="width: 25%">{{ y.description }}</td>
              <td style="width: 10%; text-align: center">{{ y.module }} </td>
              <td style="width: 8%; text-align: center">{{ y.solutionSize }}</td>
              <td style="width: 5%; text-align: center">{{ y.track }}</td>
              <td style="width: 10%">{{ y.stakeholders }}</td>
              <td style="width: 10%">{{ y.rallyNumber }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tr></table>
    {% else %}
      <p>{{ exception }}
    {% endif %}
    </div>
{% endblock %}
