{% extends 'metrics/base.html' %}
{% block pagetitle %}Sync User Story{% endblock %}
{% block title %}{{ message }}{% endblock %}
{% block js %}{% endblock %}
{% block picker %} {% endblock %}
{% block primary %}
  {% if  status  == "N" %}
    <p style="color:red">
  {% else %}
    <p>
  {% endif %}
  <b>{{ result }}</b></p>
  <form name=syncStory action="" method=POST>
  {% csrf_token %}
  {{ form }}
  <input type="submit" class="btn btn-primary btn-sm" value="Sync Story" />
  </form>
{% endblock %}
