{% extends 'metrics/base.html' %}
{% block pagetitle %}Sync User Story{% endblock %}
{% block title %}{{ message }}{% endblock %}
{% block js %}{% endblock %}
{% block picker %} {% endblock %}
{% block primary %}
  {% if  status  == "N" %}
    <p class="bg-danger" style="font-size: 20px">
  {% else %}
    <p class="bg-success" style="font-size: 20px">
  {% endif %}
  {{ result }}</p><br><br>
  <form role="form" name=syncStory action="" method=POST>
    <fieldset>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label class="control-label">{{field.label}}:&nbsp; </label>
          <div class="controls">{{field}}</div>
          {% if field.help_text %}
          <p class="help-inline"><small>{{ field.help_text }}</small></p>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-sm">Sync Story</button>
    </div>
  </form>
{% endblock %}
