h2 {
    margin:0 4px 1em;
    font-family: "Arial"
}
.cfoot {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size:24px;
}
.lfoot {
    padding:5px;
    float: left;
    text-align: center;
    width: 22%;
    font-weight:bold;
}
a:link, a:active, a:visited {
  color: black;
}
a.mail:link, a.mail:active, a.mail:visited {
  color: blue;
}
img{width: 15%}
img.right{float:right}
img.left{float:left; margin: 0px 20px}

.progress {
    background: rgba(138, 135, 135, 1); 
    border: 0px solid rgba(245, 245, 245, 1); 
    border-radius: 4px; 
    height: 20px;
}
.progress-bar-custom {
    background: rgba(66, 139, 202, 1);
}

.grid {
    background: white;
    margin: 0 0 20px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.chart {
    width: 100%;
    height: 600px;
}

.nav {
    -webkit-backface-visibility: hidden;
}

.progress-bar-green {background: rgba(92,184,92,1);}
.progress-bar-yellow {background: rgba(248,148,6,1);}
.progress-bar-red {background: rgba(217,83,79,1);}
.progress-bar-white {background: rgba(249,249,249,1);}
.progress-bar-blue {background: rgba(66,139,202,1);}

.bar-wrap {
    position: relative;
}
.progress-marker {
    width: 2px;
    height: 10px;
    position: absolute;
    background: black;
    bottom: -5px;
}
.time-axis {
    display: block;
    float: left;
    width: 100%;
    /*margin: 0px 0 10px 0;*/
}
.time-spot {
    display: block;
    float: left;
    width: 50%;
    font-size:10px;
}
.time-spot-end {
    display: block;
    float: left;
    width: 25%;
    font-size:10px;
}

.panel-custom-1 {
    border-color: #fff2cc;
}

.panel-custom-1 > .panel-heading {
    background: #fff2cc;
    color: #000000;
    border-color: #fff2cc;
}

.panel-custom-2 {
    border-color: #d0e0e3;
}

.panel-custom-2 > .panel-heading {
    background: #d0e0e3;
    color: #000000;
    border-color: #d0e0e3;
}

.panel-custom-3 {
    border-color: #d9e2e9;
}

.panel-custom-3 > .panel-heading {
    background: #d9d2e9;
    color: #000000;
    border-color: #d9d2e9;
}
