table.publish {
    width: 100%;
    border-collapse: collapse;
}

th.publish {
    border: 1px solid black;
    background:#820000;
    color: white;
    font-size: 16px;
}

th.left {
    border: 1px solid black;
    background:#820000;
    color: white;
    font-size: 16px;
    text-align:left;
}
th.center {
    border: 1px solid black;
    background:#820000;
    color: white;
    font-size: 16px;
    text-align:center;
}

td.publish {
    border: 1px solid black;
    word-wrap: break-word; 
    font-size: 16px;
}
td.first {
    border: 1px solid black;
    word-wrap: break-word; 
    font-size: 16px;
    background:#ff8080;
    text-align: center;
    vertical-align: middle !important;
    font-weight: bold;
    width: 12%;
}
td.center {
    border: 1px solid black;
    word-wrap: break-word; 
    font-size: 16px;
    text-align: center;
}
body, html {
    margin: 0;
    padding: 0;
    color:black;
    background:#ffffff;
}
#container{
    border: 0px;
    overflow:hidden;
}
#wrap {
    display: table-cell;
    width: 60%;
    margin: 0px auto;
    padding: 10px;
    background:#ffffff;
    color:black;
}
#piechart {
    display: table-cell;
    width: 640px;
    margin: 0px auto;
    padding: 10px;
}
#header {
    padding:5px 10px;
    background:#eee;
    height:100px;
    line-height: 100px;
}
h1 {
    margin:0;
    color:#820000;
    font-family: "Arial Black"
}

h2 {
    margin:0 4 1em;
    font-family: "Arial"
}
h3 {
    font-family: "Arial"
}
#nav {
    display: table-cell;
    width:15%;
    background:#ffffff;
    color:black;
    height:100%;
    padding: 15px
}
#footer {
    background:#cc9;
    border: 1px;
    width: 43%;
}
.cfoot {
    padding:5px 10px;
    margin: 0 auto;
    float: left;
    font-weight: bold;
    width: 80%;
    text-align: center;
    font-size:24px;
}
.lfoot {
    padding:5px;
    float: left;
    text-align: center;
    width: 22%;
    font-weight:bold;
}
#p {
    margin:0;
}
a:link, a:active, a:visited {
  color: black;
}
a.mail:link, a.mail:active, a.mail:visited {
  color: blue;
}
img{width: 15%}
img.right{float:right}
img.left{float:left; margin: 0px 20px}

.graph {
    display: table-cell;
    float: left;
    width: 640px;
    border: 2px black;
}

.progress {background: rgba(138, 135, 135, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 20px;}
.progress-bar-custom {background: rgba(66, 139, 202, 1);}
