{% extends 'radabo/base.html' %}
{% load staticfiles %}
{% block pagetitle %}Backlog Metrics{% endblock %}
{% block title %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center"><h2>{{ header }}</h2></div>
</div>
{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'radabo/chart.js' %}"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawAllCharts);

      function drawAllCharts() {
          var djangoData = JSON.parse('{{ theme|safe }}');
          var url = '{% url "backlog" %}';
          var token = '{{csrf_token}}';
          drawChart(djangoData, 'theme', url, token, 1);

          djangoData = JSON.parse('{{ size|safe }}');
          drawChart(djangoData, 'size', url, token, 2);

          djangoData = JSON.parse('{{ track|safe }}');
          drawChart(djangoData, 'track', url, token, 3);

          djangoData = JSON.parse('{{ module|safe }}');
          drawChart(djangoData, 'module', url, token, 4);

          djangoData = JSON.parse('{{ region|safe }}');
          drawChart(djangoData, 'region', url, token, 5);
      }
    </script>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:18px">Enhancement backlog by theme</div>
            <div class="panel-body">
              <div id="chart1" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:18px">Enhancement backlog by estimated size</div>
            <div class="panel-body">
              <div id="chart2" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:18px">Enhancement backlog by track</div>
            <div class="panel-body">
              <div id="chart3" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:18px">Enhancement backlog by module</div>
            <div class="panel-body">
              <div id="chart4" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:18px">Enhancement backlog by region</div>
            <div class="panel-body">
              <div id="chart5" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!--Next chart goes here -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
