{% extends 'radabo/base.html' %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'radabo/ua.js' %}"></script>
<script type="text/javascript" src="{% static 'radabo/export.js' %}"></script>
{% endblock %}
{% block title %}
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h2>{{header}}</h2>
      {% if startDate %}
      <h3>{{startDate|date:"d-M-Y"}} - {{endDate|date:"d-M-Y"}}</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block picker %}
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1 col-xs-2 col-xs-offset-2">
    {% if list %}
      <form name="relForm" id="relForm" action="" method=POST>
        {% csrf_token %}
        <div class="dropdown dropdown-submit-input">
          <input class="span2" id="choice" name="choice" type="hidden">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">{{buttonText}}&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu">
          {% for name in list %}
            <li><button class="form-control btn btn-link" style="width:auto;" type="submit" name="choice" value="{{name}}">{{name}}</button></li>
          {% endfor %}
          </ul>
        </div>
      </form>
    {% endif %}
    </div>
    <div id="export" style="display:none" class="col-sm-9 col-xs-7">
    {% if story %}
      <span title="Download">
        <button id="btnExport" class="btn btn-success glyphicon glyphicon-download-alt pull-right" onclick="exportData('data')"></button>
      </span>
    {% endif %}
    </div>
    <script>
      hideExport();
    </script>
  </div>
{% endblock %}
{% block primary %}{% endblock %}
