{% extends 'radabo/export.html' %}
{% load extras %}
{% block pagetitle %}Sprint Details{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-1"></div>
    <div id="data" class="col-sm-9">
      {% if story %}
        <table class="table table-striped table-hover" style="font-size: 16px">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Name</th>
              <th>Story Points</th>
              <th>Status</th>
              <th>User Story</th>
            </tr>
          </thead>
          <tbody>
        {% for x in story|sort_by:'project' %}
            <tr>
              <td>{{x.project}}</td>
              <td>{{x.name}}</td>
              <td>{{x.points}}</td>
              <td>{{x.status}}</td>
              <td>{{x.id}}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
