{% extends 'radabo/base.html' %}
{% block pagetitle %}Site Information{% endblock %}
{% block primary %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#pageinfo">Pages</a></li>
      <li><a data-toggle="tab" href="#status">Statuses</a></li>
      <li><a data-toggle="tab" href="#uat">Pending UAT</a></li>
      <li><a data-toggle="tab" href="#ev">Earned Value</a></li>
    </ul>
    <div class="tab-content">
      <div id="pageinfo" class="tab-pane fade in active">
        <div class="row">
          <div class="col-xs-12">
            <h3>Page Descriptions</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel panel-heading" style="font-size:18px">Enhancements</div>
              <div class="panel panel-body" style="font-size:18px">The information on pages under this menu heading are restricted only to enhancement work.  These are work items defined as up to 80 hours of IT effort.  Charts within this menu display the breakdown of the backlog by various metrics.  Sections of the chart are clickable, which will filter the backlog table by the specified metric.</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel panel-heading" style="font-size:18px">Projects</div>
              <div class="panel panel-body" style="font-size:18px">Pages under this menu heading are restricted only to project-related work.  Project grooming will take place after GPO approval, but before senior management approval.  Active projects and their component stories are pulled real-time from Rally.  As such, you may experience a slight delay in page load time.</div>
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel panel-heading" style="font-size:18px">Metrics</div>
              <div class="panel panel-body" style="font-size:18px">Team velocity, or total story points delivered per sprint, is the key metric of an agile team.  This menu heading contains a consolidated list of all project and enhancement stories delivered or scheduled in a sprint as well as a graph of the team's historical velocity.</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel panel-heading" style="font-size:18px">Refresh Story</div>
              <div class="panel panel-body" style="font-size:18px">Due to the large volume of data, enhancement and project grooming stories are stored in a local database that is refreshed from Rally once an hour.  This form can be used to force synchronization of data for one specific story.</div>
            </div>
          </div>
        </div>
      </div> <!-- End of pageinfo div -->
      <div id="status" class="tab-pane fade">
        <div class="row">
          <div class="col-xs-12">
            <h3>Status Definitions</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Backlog</div>
              <div class="panel-body" style="font-size:18px">Request has been approved by the GPO, but not yet groomed.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-success">
              <div class="panel-heading" style="font-size:18px">Backlog/Ready&nbsp;<span class="glyphicon glyphicon-ok-circle text-success"></span></div>
              <div class="panel-body" style="font-size:18px">The story has been prioritized to be groomed ASAP.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Defined</div>
              <div class="panel-body" style="font-size:18px">Grooming has been completed and is ready for delivery team review.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-success">
              <div class="panel-heading" style="font-size:18px">Defined/Ready&nbsp;<span class="glyphicon glyphicon-ok-circle text-success"></span></div>
              <div class="panel-body" style="font-size:18px">Delivery team has reviewed and accepts the story.  It is eligible to be scheduled in a future sprint.</div>
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">In-Progress</div>
              <div class="panel-body" style="font-size:18px">Delivery team is actively working on implementing the story.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-success">
              <div class="panel-heading" style="font-size:18px">In-Progress/Ready&nbsp;<span class="glyphicon glyphicon-ok-circle text-success"></span></div>
              <div class="panel-body" style="font-size:18px">Development is done and ready for IT functional testing.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Completed</div>
              <div class="panel-body" style="font-size:18px">Story is signed off by IT team.  Enhancements have been deployed to UAT instance.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-success">
              <div class="panel-heading" style="font-size:18px">Completed/Ready&nbsp;<span class="glyphicon glyphicon-ok-circle text-success"></span></div>
              <div class="panel-body" style="font-size:18px">UAT is complete and story is ready to go to production.</div>
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Accepted - Enhancements</div>
              <div class="panel-body" style="font-size:18px">Production deployment is complete, story is fully delivered.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Accepted - Project Delivery</div>
              <div class="panel-body" style="font-size:18px">Delivery lead has accepted work, resources can move on to the next story.</div>
            </div>
          </div>
        </div>
      </div>  <!-- End of status div -->
      <div id="uat" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-12">
            <h3>Pending UAT Legend</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-danger">
              <div class="panel-heading" style="font-size:18px">Very Late</div>
              <div class="panel-body bg-danger" style="font-size:18px">Stories pending UAT for more than 28 days or two complete sprints are highlighted in this style.</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-warning">
              <div class="panel-heading" style="font-size:18px">Late</div>
              <div class="panel-body bg-warning" style="font-size:18px">Stories pending UAT for 15 to 28 days between one and two complete sprints are highlighted in this style.</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size:18px">Ready for Testing</div>
              <div class="panel-body" style="font-size:18px">Stories pending UAT for not more than 14 days or one complete sprint are highlighted in this style.</div>
            </div>
          </div>
        </div>
      </div>  <!-- End of uat div -->
      <div id="ev" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-12">
            <h3>Earned Value Definitions</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p style="font-size:18px">Each response from the three categories defined below is given a specific numerical score from 1-5.  The Earned Value (<i>EV</i>) is calculated by multiplying these three values together <i>EV = J x R x V</i>.  This score should be used <b><i>as guidance</i></b> to prioritize grooming.  If there is a compelling business reason to prioritize a story with a lower calculated earned value, this should be addresesd by the GPO steering committee.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-custom-1">
              <div class="panel-heading" style="font-size:18px"><u>J</u>ustification</div>
              <div class="panel-body" style="font-size:18px">Why are we doing this work?
                <ul>
                  <li><b>Controls Improvement</b>: Improvement of accounting controls for compliance.</li>
                  <li><b>Efficiency Improvement</b>: Decrease waste.</li>
                  <li><b>Reduce Time to Close</b>: Decrease waste specific to closing Red Hat books.</li>
                  <li><b>Regulatory Requirement</b>: Legislation, Tax ruling, etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-custom-2">
              <div class="panel-heading" style="font-size:18px"><u>R</u>eason</div>
              <div class="panel-body" style="font-size:18px">This response provides more details into the Justification and, in some cases, defines a success metric.
                <ul>
                  <li><b>Controls Improvement</b>: Is it an internal or external control that will be improved?</li>
                  <li><b>Efficiency Improvement</b>: Will we save 0-5 hours/month, 5-10, 10-20 or 20+?</li>
                  <li><b>Reduce Time to Close</b>: As above, but savings must be related to closing the financial books.</li>
                  <li><b>Regulatory Requirement</b>: Free-form response indicating the specific requirement we must meet.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-custom-3">
              <div class="panel-heading" style="font-size:18px"><u>V</u>alue/Impact</div>
              <div class="panel-body" style="font-size:18px">This response provides information on what segment of Red Hat will be impacted.
                <ul>
                  <li><b>Local Department</b>: Impacts one local department within the greater EBE organization (eg. China Tax).</li>
                  <li><b>Regional Department</b>: Impacts a department within EBE across all countries within a specific region (eg. LATAM Credit).</li>
                  <li><b>Global Department</b>: Impacts a department within EBE across all regions (eg. GBD Project Accounting).</li>
                  <li><b>All of Red Hat</b>: Potential impact to all associates, not isolated to EBE (eg. iExpenses).</li>
                  <li><b>Customer/Supplier</b>: External impact to members of Red Hat's trading community (eg. Customer Statements).</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  <!-- End of tab-content div -->
  </div>
</div>
{% endblock %}
