{% extends 'radabo/base.html' %}
{% load staticfiles %}
{% block pagetitle %}Team Velocity{% endblock %}
{% block title %}
  <div class="row">
    <div class="col-sm-12 text-center"><h2>IT Finance Sprint Velocity</h2></div>
  </div>
{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'radabo/chart.js' %}"></script>
    <script type="text/javascript">

      var djangoData = JSON.parse('{{ velocity|safe }}');
      var avg = {{avg}};
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(function() {
                drawVelocity(djangoData, avg);
      });

    </script>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1" id="chart_div" style="float:left"></div>
    <div class="col-sm-5" id="details" class="defn">
      <h3>Test Cycle Impacts</h3>
      <p>The decline in velocity during March and April represents a large
number of projects that were in UAT or extended integration testing.  IT-Finance associates were heavily involved supporting testing for the following projects.
      <P><b>User Acceptance Testing</b>
      <ul>
        <li>India Project Accounting</li>
        <li>Chile EBS Implementation</li>
        <li>Royalty Reporting Repository</li>
      </ul>
      <p><b>Integration Testing</b>
      <ul>
        <li>Bank of Ireland Mastercard conversion</li>
        <li>North American Credit Card conversion</li>
        <li>EMEA VAT</li>
      </ul>
      <p>These are critical activities for IT-Finance to support, but are not allocated a large number of story points.  This is an issue that should be addressed in the future.  This will be a key challenge to address as part of the teams' larger initiative to be more Agile.
    </div>
  </div>
{% endblock %}
