{% extends 'radabo/export.html' %}
{% block pagetitle %}User Stories{% endblock %}
{% block primary %}

<script>
$(function() {
    var options = {
        autoOpen: false,
        resizable: false,
        modal: true,
        width: 600,
        position: {
            my: "left top",
            at: "center",
            of: window
        },
        show: {
            effect: "blind",
            duration: 1000
        },
        hide: {
            effect: "explode", 
            duration: 1000
        }
    };

    $( ".dialog" ).dialog(options);
    $( ".opener" ).on( "click", function() {
        $( "#story-" + this.id) .dialog( "option","position",{my: "left top", at: "left bottom", of: $("#"+this.id)} );
        $( "#story-" + this.id) .dialog( "open" ).prev().css('background','#d9edf7').css('color','#31708f');
        return false;
    });
});
</script>
  <div class="row">
    <div class="col-sm-1 col-xs-2"></div>
    <div id="data" class="col-sm-9 col-xs-7" style="float: left">
      {% if story %}
        <table class="table table-hover" style="font-size: 16px">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Earned Value</th>
              {% if showSprint == "Y" %}
              <th>Sprint End Date</th>
              {% endif %}
              <th>Business Area</th>
              <th>Solution Size</th>
              <th>Region</th>
              <th>Stakeholders</th>
              {% if gpo == "Y" %}
              <th>Process Lead</th>
              {% endif %}
              <th>Investment Theme</th>
              <th>User Story</th>
              <th>Created On</th>
              {% if showStatus == "Y" %}
              <th>Status</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for x in story %}
            {% if x.blocked == "Y" %}
            <tr class="alert-danger">
            {% elif x.age_color == "R" %}
            <tr class="alert-danger">
            {% elif x.age_color == "Y" %}
            <tr class="alert-warning">
            {% else %}
            <tr>
            {% endif %}
            <td><a href="#" class="opener" id="detail{{forloop.counter}}"><button class="btn glyphicon glyphicon-search"></button></a></td>
            <td>
              {% if x.blocked == "Y" %}
                <span title="{{ x.blockedReason }}">
              {% endif %}
              {{ x.description|safe }}{% if x.blocked == "Y" %}&nbsp;</span><span class="glyphicon glyphicon-ban-circle"></span>{% endif%}
            </td>
            <td>{{ x.businessValue|default_if_none:"" }}</td>
            {% if showSprint == "Y" %}
            <td>{{ x.currentSprint.endDate|date:"d-M-Y" }}</td>
            {% endif %}
            <td>{{ x.module }} </td>
            <td>{{ x.solutionSize }}</td>
            <td>{{ x.region }}</td>
            <td>{{ x.stakeholders|default_if_none:"" }}</td>
            {% if gpo == "Y" %}
            <td>{{ x.module.globalLead|default_if_none:"" }}</td>
            {% endif %}
            <td>{{ x.theme }}</td>
            <td><a href="{{ x.storyURL }}" target="_blank">{{ x.rallyNumber }}</a></td>
            <td>{{ x.rallyCreationDate|date:"d-M-Y" }}</td>
            {% if showStatus == "Y" %}
            <td>{{ x.get_status_display }}</td>
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ exception }}
      {% endif %}
    </div>
    <div class="col-sm-2 col-xs-3">
    {% if showSprint == "Y" %}
      <h4>Legend</h4>
      <span>Pending UAT 0-14 days</span><br>
      <span class="alert-warning">Pending UAT for 15-28 days</span><br>
      <span class="alert-danger">Pending UAT for 29+ days</span>
    {% endif %}
    </div>
  </div>
{% endblock %}
{% block hidden %}
  <div class="row">
  {% for x in story %}
  <div class="dialog" id="story-detail{{forloop.counter}}" style="display:none" title="Story details">{{x.longDescription|safe}}</div>
  {% endfor %}
  </div>
{% endblock %}
