{% extends 'radabo/base.html' %}
{% block pagetitle %}Sync User Story{% endblock %}
{% block title %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2"><h2>{{ message }}</h2></div>
  </div>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form role="form" name=syncStory action="" method=POST>
        <fieldset>
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label class="control-label">{{field.label}}</label>
              <div class="controls">{{field}}</div>
              {% if field.help_text %}
              <p class="help-inline"><small>{{ field.help_text }}</small></p>
              {% endif %}
            </div>
          {% endfor %}
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-sm">Sync Story</button>
        </div>
      </form>
      {% if result %}
      <br>
      <p class={% if status == "N" %}"bg-danger"{% else %}"bg-success"{% endif %} style="font-size:20px">
      {{ result }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
