{% extends 'radabo/base.html' %}
{% load staticfiles %}
{% block pagetitle %}Team Velocity{% endblock %}
{% block title %}
  <div class="row">
    <div class="col-sm-12 text-center"><h2>IT Finance Sprint Velocity</h2></div>
  </div>
{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'radabo/chart.js' %}"></script>
    <script type="text/javascript">

      var djangoData = JSON.parse('{{ velocity|safe }}');
      var avg = {{avg}};
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(function() {
                    drawVelocity(djangoData, avg);
      });
    </script>
{% endblock %}
{% block primary %}
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <div id="chart_div" style="float:left"></div>
    </div>
    <div class="col-sm-5">
      <div id="details" class="defn">
        <h3>Process Changes</h3>
        <p>In June 2016, IT-Finance switched over to a 2-week sprint cycle.  As a result, old metrics related to team velocity have been archived and a new chart has been created.  Team throughput was lower during the transition period but is expected to stabilize after a few sprints.
      </div>
    </div>
  </div>
{% endblock %}
