{% extends 'metrics/base.html' %}
{% block pagetitle %}Late Stories{% endblock %}
{% block title %}Report - Stories Delivered Late{% endblock %}
{% block js %}{% endblock %}
{% block primary %}
    {% if story %}
      <table class="publish" cellpadding="5">
        <tr>
          <th class="publish">User Story</th>
          <th class="left">Name</th>
          <th class="publish">Initial Sprint</th>
          <th class="publish">Current Sprint</th>
          <th class="publish">Status</th>
        </tr>
        {% for x in story %}
          <tr>
            <td class="publish" style="width: 10%"><a href="{{ x.storyURL }}" target="_blank">{{ x.rallyNumber }}</a></td>
            <td class="publish" style="width: 30%">{{ x.description }}</td>
            <td class="publish" style="width: 10%">{{ x.initialSprint }}</td>
            <td class="publish" style="width: 10%">{{ x.currentSprint }}</td>
            <td class="publish" style="width: 10%">{{ x.get_status_display }}</td>
          </tr>
        {% endfor %}
        </table>
    {% else %}
      <p>Good news, no stories are late!
    {% endif %}
{% endblock %}
