{% extends 'metrics/base.html' %}
{% block pagetitle %}Sprints{% endblock %}
{% block title %}{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var djangoData = JSON.parse('{{ data|safe }}');
          var data = new google.visualization.DataTable();
          var total = 0;
          data.addColumn('string','On Schedule');
          data.addColumn('number','Story Count');

          if (djangoData.length == 0) {
              document.getElementById('piechart').innerHTML = "Sprint \"{{sprint}}\" is not yet accepted";
          } else {
              for (var i=0;i<djangoData.length;i++) {
                 data.addRows([[djangoData[i].on_schedule,djangoData[i].rallyNumber__count]]);
                 total += djangoData[i].rallyNumber__count;
              }
              var options = {
                  width: 640, 
                  height: 480, 
                  title: "Success Rate for {{sprint}}",
                  colors: ['green','red'],
                  titleFontSize: 24
              };

              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
              document.getElementById('foot').innerHTML = total + " total stories";
          }
      }
    </script>
{% endblock %}
{% block picker %}
  <form name=sprintForm action="/metrics/success/" method=POST>
  {% csrf_token %}
    <p>
      <select name=sprintSelect onchange="sprintForm.submit();">
      {% for name in list %}
        <option value="{{ name }}" {% if name == sprint %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
      </select>
    </p>
  </form>
{% endblock %}
{% block primary %}
  <div id="piechart"></div>
  <div id="foot"></div>
{% endblock %}
