{% extends 'metrics/base.html' %}
{% block pagetitle %}Sprints{% endblock %}
{% block title %}Success Rate for {{ sprint }}{% endblock %}
{% block js %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['gauge']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var djangoData = JSON.parse('{{ data|safe }}');
          var goodCount = 0;
          var total = 0;
          var mySprint = "{{sprint}}";

          if (djangoData.length == 0) {
              document.getElementById('piechart').innerHTML = "Sprint \""+ mySprint + "\" is not yet accepted";
          } else {
              for (var i=0;i<djangoData.length;i++) {
                 if (djangoData[i].on_schedule == "Yes") {
                     goodCount += djangoData[i].rallyNumber__count;
                 }
                 total += djangoData[i].rallyNumber__count;
              }
              var pct = Math.round(100 * goodCount / total);
              console.log("pct: " + pct);
 
              var data = google.visualization.arrayToDataTable([
                  ['Label', 'Value'],
                  [ mySprint,pct]
              ]);

              var options = {
                  width: 400, 
                  height: 300, 
                  redFrom: 0, redTo: 70,
                  yellowFrom: 70, yellowTo: 90,
                  greenFrom: 90, greenTo: 100,
                  minorTicks: 10
              };

              var chart = new google.visualization.Gauge(document.getElementById('piechart'));
              chart.draw(data, options);
              document.getElementById('foot').innerHTML = total + " total stories";
          }
      }
    </script>
{% endblock %}
{% block picker %}
  <form name="sprintForm" id="sprintForm" action="" method=POST>
  {% csrf_token %}
    <div class="dropdown dropdown-submit-input">
      <input class="span2" id="sprintSelect" name="sprintSelect" type="hidden">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Select Timebox<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><button class="form-control btn btn-link" type="submit" name="sprintSelect" value="{{average}}">{{average}}</button></li>
      {% for name in list %}
        <li><button class="form-control btn btn-link" type="submit" name="sprintSelect" value="{{ name }}">{{ name }}</button></li>
      {% endfor %}
      </ul>
    </div>
  </form>
{% endblock %}
{% block primary %}
  <div id="piechart"></div>
  <div id="foot" class="lfoot"></div>
{% endblock %}
