{% extends 'xfrAdmin/base.html' %}
{% block pagetitle %}File Transfers{% endblock %}
{% block title %}File Transfer History{% endblock %}
{% block sidebar %}
  <ul>
    <li><a href="/transfers/">Recent Transfers</a></li>
    <li><a href="/errors/">All Errors</a></li>
    <li><a href="/errors/recent/">Errors in last 24 hours</a></li>
    {% if user.is_superuser %}
      <li><a href="/admin/">Admin Portal</a></li>
    {% endif %}
  </ul>
  <br><br>
  <div style="padding: 10px 0px"><a href="/logout/">Logout</a></div>
{% endblock %}
{% block primary %}
{% if xfr %}
  <table>
    <tr>
      <th>Transfer ID</th>
      <th>File Name</th>
      <th>Location Code</th>
      <th>Status</th>
      <th>Last Update Date</th>
      <th>Error Message</th>
    </tr>
    {% for transfer in xfr %}
      <tr>
        <td>{{ transfer.id }}</td>
        <td>{{ transfer.filename }}</td>
        <td>{{ transfer.location.location_code }}</td>
        <td>{{ transfer.status }}</td>
        <td>{{ transfer.last_update_date }}</td>
        <td>{{ transfer.error_message }}</td>
      </tr>
    {% endfor %}
    </table>
    <p>
{% else %}
  <p><i>{{ no_message }}</i></p>
{% endif %}
  <div id="footer">
    {% if prev_page > 0 %}
        <div id="lfoot"><a href="/transfers/page/{{prev_page}}/">&lt;Previous</a></div>
    {% endif %}
    {% if next_page > 0 %}
        <div id="rfoot"><a href="/transfers/page/{{next_page}}/">Next&gt;</a></div>
    {% endif %}
  </div>
{% endblock %}
